Example of Using Tuple function

In [4]:
# Creating a tuple
my_tuple = (1, "apple", 3.14, True)  
print(my_tuple)  # Output: (1, 'apple', 3.14, True)  

# Accessing elements
print(my_tuple[1])  # Output: apple  

# Tuples are immutable - this will raise an error
# my_tuple[1] = "banana"  # Uncommenting this line will result in a TypeError

(1, 'apple', 3.14, True)
apple

Exercise 1: 
1. Create a tuple containing your name, age, and favorite color. 
2. Print the second element of the tuple.

In [18]:
my_name = ("Najeeb Ullah", 23, "Blue") #tuple.
print(my_name[1]) #output is 23

23

Example Using list function.

In [10]:
#Creating a list 
my_list = [1, "banana", 2.71, False] 
print(my_list)  # Output: [1, 'banana', 2.71, False] 

# Modifying elements 
my_list[1] = "apple" 
print(my_list)  # Output: [1, 'apple', 2.71, False] 

# Adding elements 
my_list.append("orange") 
print(my_list)  # Output: [1, 'apple', 2.71, False, 'orange']

#Removing elements 
my_list.remove(2.71) 
print(my_list)  # Output: [1, 'apple', False, 'orange']

[1, 'banana', 2.71, False]
[1, 'apple', 2.71, False]
[1, 'apple', 2.71, False, 'orange']
[1, 'apple', False, 'orange']

Exercise 2: 
1. Create a list of your top 3 favorite movies. 
2. Add a fourth movie to the list and print the updated list. 
3. Remove the second movie from the list and print the final list.

In [42]:
my_movies=["Extraction","The Gorge","Money Highest"]
print(my_movies)
my_movies.append("The Monkey")
print(my_movies)
my_movies.remove("The Gorge")
print(my_movies)

['Extraction', 'The Gorge', 'Money Highest']
['Extraction', 'The Gorge', 'Money Highest', 'The Monkey']
['Extraction', 'Money Highest', 'The Monkey']

Example Using of dict function.

In [24]:
#Creating a dictionary 
my_dict = {"name": "Alice", "age": 25, "city": "New York"} 
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Accessing values 
print(my_dict["name"])  # Output: Alice 

# Modifying values 
my_dict["age"] = 26 
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'New York'} 

# Adding new key-value pairs 
my_dict["email"] = "alice@example.com" 
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'} 
# Removing key-value 

del my_dict["city"] 
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}
{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}

Programming Exercise: 
1. Create a dictionary to store information about a book (title, author, year). 
2. Add a new key-value pair for the genre of the book. 
3. Print all the keys and values in the dictionary.

In [34]:
Book_info={"title":"Alchemist","author":"Paulo Coelho","year":"1988"}#dictionary
print(Book_info)#print all keys and values
Book_info["Genre"]="Fantasy"#add new key-value pair
print(Book_info)#print all keys and values

{'title': 'Alchemist', 'author': 'Paulo Coelho', 'year': '1988'}
{'title': 'Alchemist', 'author': 'Paulo Coelho', 'year': '1988', 'Genre': 'Fantasy'}

Example Using the set Function

In [36]:
# Creating a set 
my_set = {1, 2, 3, 4, 4, 5} 
print(my_set)  # Output: {1, 2, 3, 4, 5} (duplicates are removed) 
# Adding elements 
my_set.add(6) 
print(my_set)  # Output: {1, 2, 3, 4, 5, 6} 

# Removing elements 
my_set.remove(3) 
print(my_set)  # Output: {1, 2, 4, 5, 6}

# Set operations 
set1 = {1, 2, 3} 
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5} 
print(set1.intersection(set2))  # Output: {3}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5}
{3}

Exercise 3: 
1. Create two sets containing your favorite fruits and your friend's favorite fruits. 
2. Find the common fruits between the two sets. 
3. Combine the two sets and print the result.

In [26]:
my_favorite_fruits={"apple","banana","cherry","watermelon","orange"} #set
my_friend_favorite_fruits={"apple","Mango","cherry","orange"}#set
print(my_favorite_fruits.intersection(my_friend_favorite_fruits))#output is {"apple","cherry","orange"}.
print(my_friend_favorite_fruits.union(my_favorite_fruits))#output is {"apple","banana","cherry","watermelon","orange","Mango"}.

{'cherry', 'orange', 'apple'}
{'banana', 'Mango', 'apple', 'orange', 'cherry', 'watermelon'}

In [ ]:
Example of Exceution

In [38]:
# Tuple Challenge 
numbers = (10, 20, 30, 40, 50) 
total = sum(numbers) 
print("Sum of tuple elements:", total)  # Output: Sum of tuple elements: 150 

# List Challenge 
import random 
random_numbers = [random.randint(1, 100) for _ in range(10)] 
random_numbers.sort() 
print("Sorted list:", random_numbers)  # Output: Sorted list: [sorted numbers] 

# Dictionary Challenge 
people = {"Alice": 25, "Bob": 30, "Charlie": 20, "David": 35, "Eve": 40} 
oldest_person = max(people, key=people.get) 
print("Oldest person:", oldest_person)  # Output: Oldest person: Eve 

# Set Challenge 
set1 = {1, 2, 3, 4, 5} 
set2 = {4, 5, 6, 7, 8} 
difference = set1.difference(set2) 
print("Difference between sets:", difference)  # Output: Difference between sets: {1, 2, 3}

Sum of tuple elements: 150
Sorted list: [4, 8, 26, 28, 55, 76, 78, 79, 98, 99]
Oldest person: Eve
Difference between sets: {1, 2, 3}

Programming Challenges 
1.Tuple Challenge: Create a tuple of 5 numbers. Write a program to find the sum of all elements in the tuple. 
2.List Challenge: Create a list of 10 random numbers. Write a program to sort the list in ascending order and print the result. 
3.Dictionary Challenge: Create a dictionary to store the names and ages of 5 people.Write a program to find the oldest person in the dictionary. 
4.Set Challenge: Create two sets of integers. Write a program to find the difference between the two sets.

In [40]:
my_tuple=(10,5,15,20,25)#
print(sum(my_tuple))#output is 75

#List CHALLENGE:
my_list=[13,23,34,45,56,66,78,80,96,10]
my_list.sort()#
print(my_list[::1])#output is [10, 13, 23, 34, 45, 56, 66, 78, 80, 96]

#Dictionary CHALLENGE:
age_dict={'a':13,'b':25,'c':35,'d':15,'e':30}
print(max(age_dict,key=age_dict.get))#output is d

#Set CHALLENGE:
my_set1={1,2,3,4,5}
my_set2={6,7,8,9,10}
print(my_set1.difference(my_set2))#output is {1, 2, 3, 4, 5}

75
[10, 13, 23, 34, 45, 56, 66, 78, 80, 96]
c
{1, 2, 3, 4, 5}