### In Class Practice1

#### we	are	to	create	a	pandas	DataFrame	to	Handle	Missing	Data

### Programing Code

In [44]:
import pandas as pd
import numpy as np
# Modified data with missing values (np.nan)
data = {
    'C1': [10, np.nan, 30, np.nan, 50],
    'C2': [np.nan, 20, np.nan, 40, np.nan],
    'C3': [60, 70, 80, 90, 100]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
      C1    C2   C3
0  10.0   NaN   60
1   NaN  20.0   70
2  30.0   NaN   80
3   NaN  40.0   90
4  50.0   NaN  100

#### 1. Remove all rows containing any missing values

In [3]:
df_no_missing_any = df.dropna()
print("\nRows without any missing values:\n", df_no_missing_any)

Rows without any missing values:
 Empty DataFrame
Columns: [C1, C2, C3]
Index: []

#### 2. Remove only the rows where all values are missing

In [5]:
df_not_all_missing = df.dropna(how='all')
print("\nRows where not all values are missing:\n", df_not_all_missing)

Rows where not all values are missing:
      C1    C2   C3
0  10.0   NaN   60
1   NaN  20.0   70
2  30.0   NaN   80
3   NaN  40.0   90
4  50.0   NaN  100

####  3. Keep only the rows that have at least 2 non-missing values

In [7]:
df_at_least_two = df[df.notna().sum(axis=1) >= 2]
print("\nRows with at least 2 non-missing values:\n", df_at_least_two)

Rows with at least 2 non-missing values:
      C1    C2   C3
0  10.0   NaN   60
1   NaN  20.0   70
2  30.0   NaN   80
3   NaN  40.0   90
4  50.0   NaN  100

#### In-Class Pratice2
#### Filling	Missing	Data
#### Using	the	DataFrame	from	In-Class	Practice	1:

### Programing Code

In [42]:
import pandas as pd
import numpy as np
# Create DataFrame with missing values
data = {
    'C1': [1, np.nan, 3, np.nan, 5],
    'C2': [np.nan, 2, np.nan, 4, np.nan],
    'C3': [6, 7, 8, 9, 10]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
     C1   C2  C3
0  1.0  NaN   6
1  NaN  2.0   7
2  3.0  NaN   8
3  NaN  4.0   9
4  5.0  NaN  10

#### 1. Fill all missing values with the mean of each column

In [18]:
df_mean_filled = df.fillna(df.mean(numeric_only=True))
print("\nFilled with column means:\n", df_mean_filled)

Filled with column means:
     C1   C2  C3
0  1.0  3.0   6
1  3.0  2.0   7
2  3.0  3.0   8
3  3.0  4.0   9
4  5.0  3.0  10

#### 2. Forward fill the missing values in col1 (C1)

In [24]:
df_ffill_c1 = df.copy()
df['C1'] = df['C1'].ffill()
print("\nForward fill in 'C1':\n", df_ffill_c1)

Forward fill in 'C1':
     C1   C2  C3
0  1.0  NaN   6
1  NaN  2.0   7
2  3.0  NaN   8
3  NaN  4.0   9
4  5.0  NaN  10

#### 3. Backward fill the missing values in col2 (C2), limit to one consecutive missing value

In [26]:
df_bfill_c2 = df.copy()
df['C2'] = df['C2'].bfill(limit=1)
print("\nBackward fill in 'C2' (limit=1):\n", df_bfill_c2)

Backward fill in 'C2' (limit=1):
     C1   C2  C3
0  1.0  NaN   6
1  1.0  2.0   7
2  3.0  NaN   8
3  3.0  4.0   9
4  5.0  NaN  10

### In-class Practice3
#### Create DataFrame

### Programing Code

In [54]:
import pandas as pd

data = pd.DataFrame({
    'C1': ['A', 'B', 'A', 'C', 'B', 'A'],
    'C2': [1, 2, 1, 3, 2, 4]
})

print("Original DataFrame:\n", data)

Original DataFrame:
   C1  C2
0  A   1
1  B   2
2  A   1
3  C   3
4  B   2
5  A   4

In [52]:
import pandas as pd

# Step 1: Create a DataFrame from the dictionary
data_dict = {'C1': ['A', 'B', 'A', 'C', 'B', 'A'], 'C2': [1, 2, 1, 3, 2, 4]}
data = pd.DataFrame(data_dict)

# Step 2: Identify duplicate rows
duplicates = data.duplicated()
print("\nDuplicate rows (entire row match):\n", duplicates)

# Step 3: Remove all duplicate rows, keeping the first occurrence
no_duplicates = data.drop_duplicates()
print("\nDataFrame with duplicates removed (keep first):\n", no_duplicates)

# Step 4: Remove duplicates based on 'C1' only, keeping the last occurrence
no_c1_duplicates = data.drop_duplicates(subset='C1', keep='last')
print("\nDataFrame with 'C1' duplicates removed (keep last):\n", no_c1_duplicates)

Duplicate rows (entire row match):
 0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

DataFrame with duplicates removed (keep first):
   C1  C2
0  A   1
1  B   2
3  C   3
5  A   4

DataFrame with 'C1' duplicates removed (keep last):
   C1  C2
3  C   3
4  B   2
5  A   4