task1 the boolean Value

In [1]:
#Logical Operators
print(10>3) #output: True
print(5>9) #output: False
print(1+1==2)#output: True
# Boolean Operators
print(bool())

True
False
True
False

task2 the integer Value

In [2]:
print(int(35)) #integer value
print(int(5.89))#float Value
print(int(1.674789)) #float Value

35
5
1

task3 the floating point number

In [3]:
print(float(0.5))#floating Value
print(float(3.14))#floating Value
print(float("1.031415"))#floating Value

0.5
3.14
1.031415

String

In [4]:
 print("hey there")#string
 print("hello")#string

hey there
hello

String

In [5]:
b=True #boolean
print(bool,type(b))
num=20#integer
print(num,type(num))
pi=3.14#float
print(pi,type(pi))
s="hello"#string
print(s,type(s))

<class 'bool'> <class 'bool'>
20 <class 'int'>
3.14 <class 'float'>
hello <class 'str'>

Example 2.1

In [6]:
print(a) #NameError: name 'a' is not defined

NameError: name 'a' is not defined

Example 2.2

In [1]:
a=1 # integer
print=(a, id(a)) #print the value of "a" and its memory location.
a= 'Python' # string
print=(a, id(a))
#output: ('Python', 140715366000368)

Example 2.3 in and is Operation

In [1]:
x= [1,2,3]
y= [1,2,3]
print(id(x), id(y))
print (x is y)
print(x == y)

137014403900416 137014403900864
False
True

Example 2.4

In [2]:
s1 = 'Twinkle, Twinkle, Little Star, How I Wonder What You Are.'
print(s1)
s2 = "Up Above the World So High, Like a Diamond in the Sky."
print(s2)
s3 = 'Twinkle, Twinkle, Little Star, How I Wonder What You Are'
print(s3)
s4 = "Author 'Happy Children’s Ballad"
print(s4)

Twinkle, Twinkle, Little Star, How I Wonder What You Are.
Up Above the World So High, Like a Diamond in the Sky.
Twinkle, Twinkle, Little Star, How I Wonder What You Are
Author 'Happy Children’s Ballad

String operator

 1.Concatenate Strings

In [3]:
s1='01234'
s2='56789'
s3=s1+s2
print(s3)

0123456789

2.Duplicate String

In [4]:
s1= '01234'
s2=s1*2
print(s2)

0123401234

Extraction String Element

In [5]:
s1='123456789'
print(s1[0])
print(s1[1])
print(s1[-1])
print(s1[-2])

1
2
9
8

String Operator

In [6]:
s1='123456789'
print('s=','s[:]=','s[:]')
print('s=','s[5:]=','s[5:]')
print('s=','s[-2:]=','s[-2:]')
print('s=','s[:5]=','s[:5]')
print('s=','s[:-2]=','s[:-2]')
print('s=','s[7:9]=','s[7:9]')
print('s=','s[-4:-1]=','s[-4:-1]')
print('s=','s[-5:-2]=','s[-5:-2]')
print('s=','s[2:10:2]=','s[2:10:2]')
print('s=','s[::-1]=','s[::-1]')
print('s=','s[-1::-1]=','s[-1::-1]')

s= s[:]= s[:]
s= s[5:]= s[5:]
s= s[-2:]= s[-2:]
s= s[:5]= s[:5]
s= s[:-2]= s[:-2]
s= s[7:9]= s[7:9]
s= s[-4:-1]= s[-4:-1]
s= s[-5:-2]= s[-5:-2]
s= s[2:10:2]= s[2:10:2]
s= s[::-1]= s[::-1]
s= s[-1::-1]= s[-1::-1]

Example 2.5

In [7]:
 s = 'Twinkle, Twinkle, Little Star.\n How I Wonder What You Are.\n \tAuthor "Happy Children Ballad"'
print(s)

Twinkle, Twinkle, Little Star.
 How I Wonder What You Are.
 	Author "Happy Children Ballad"

String example

string.split (Cutting Character)

In [8]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High, Like a Diamond in the Sky.'
list1=s1.split(',')
print(list1)

['Twinkle', ' Twinkle', ' Little Star', ' How I Wonder What You Are', ' Up Above the World So High', ' Like a Diamond in the Sky.']

string.replace (original string,substitute string

In [9]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High, Like a Diamond in the Sky.'
s3=s1.replace('star','moon')
print(s3)

Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High, Like a Diamond in the Sky.

string.find(string to find)

In [10]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High, Like a Diamond in the Sky.'
print(s1.find('Star'))

25

string.rfind(String to Find)

In [11]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High, Like a Diamond in the Sky.'
print(s1.rfind('Star'))

25

string.startswith(String to find)

In [12]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High,Like a Diamond in the Sky.'
print(s1.startswith('Twinkle'))

True

string.endswith(String to find)

In [13]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High,Like a Diamond in the Sky.'
print(s1.endswith('Sky.'))

True

string.count(String to find)

In [14]:
s1='Twinkle, Twinkle, Little Star, How I Wonder What You Are, Up Above the World So High,Like a Diamond in the Sky.'
print(s1.count('the'))

2

string.center(Value)

In [15]:
s1='Twinkle, Twinkle, Little Star.'
print(s1.center(10))

Twinkle, Twinkle, Little Star.

string.rjust(Value)

In [16]:
s1='Twinkle, Twinkle, Little Star.'
print(s1.rjust(50))#50 means the position of sentence.

                    Twinkle, Twinkle, Little Star.

 string.ljust(Value)

In [17]:
s1='Twinkle, Twinkle, Little Star.'
print(s1.ljust(50))

Twinkle, Twinkle, Little Star.

 English.capitalize()

In [18]:
s1='an apple a day'
print=(s1.capitalize())#Output:An apple a day

English.title()

In [19]:
s1='an apple a day'
print=(s1.title())#Output:An Apple A Day

English.swapcase()

In [20]:
s1='an apple a day'
print=(s1.title())#Output:aN APPLE A DAY

English.upper()

In [21]:
s1='an apple a day'
print=(s1.upper())#Output:AN APPLE A DAY

English.lower()

In [22]:
s1='an apple a day'
print=(s1.lower())#an apple a day

string.zfill(width)

In [1]:
s1='123'
print(s1.zfill(5))

00123

string.strip(chars)

In [2]:
s1='Hello Mary'
print(s1.strip())

Hello Mary

string.lstrip(chars)

In [3]:
s1='Hello Mary'
print(s1.lstrip('H'))

ello Mary

string.rstrip(chars)

In [4]:
s1='Hello Mary'
print(s1.rstrip(','))

Hello Mary

Example Exercise 1

In [5]:
top = int(input('Please Enter the Number of Tops?'))
pants = int(input('Please Enter the Number of Pants?'))
vest = int(input('Please Enter the Number of Vest?'))
total = top*300 + pants*350 + vest*400
print('Total Amount of Clothing Ordered:', total, 'dollars')

Please Enter the Number of Tops? 4
Please Enter the Number of Pants? 9
Please Enter the Number of Vest? 3

Total Amount of Clothing Ordered: 5550 dollars

Example Exercise 2

In [6]:
radius = float(input('Please Enter the Radius?'))
PI = 3.14159
circumference = 2 * PI * radius
area = radius * radius * PI
print('Circumference of the Circle:', circumference, 'Area of the Circle:', area)

Please Enter the Radius? 4

Circumference of the Circle: 25.13272 Area of the Circle: 50.26544

Example Exercise 3

In [7]:
c = float(input('Please Enter the Temperature in Celsius?'))
f = c * 9 / 5 +32
print('Fahrenheit Temperature:', f)

Please Enter the Temperature in Celsius? 56

Fahrenheit Temperature: 132.8

Example Exercise 4

In [8]:
money = int(input('Please Enter the Principal Amount?'))
interest = float(input('Please Enter the annual Interest Rate (%)?'))
y1 = money * (1 + interest/100)
y2 = money * ((1 + interest/100) ** 2)
y3 = money * ((1 + interest/100) ** 3)
print('Principal and Interest in the First Year:', y1)
print('Principal and Interest in the Second Year:', y2)
print('Principal and Interest in the Third Year:', y3)

Please Enter the Principal Amount? 300
Please Enter the annual Interest Rate (%)? 40

Principal and Interest in the First Year: 420.0
Principal and Interest in the Second Year: 587.9999999999999
Principal and Interest in the Third Year: 823.1999999999998

Example Exercise 5

In [1]:
s = input('Please Enter a String?')
print('Result of the Palindrome Judgment:', s == s[::-1])

Please Enter a String? kayal

Result of the Palindrome Judgment: False