#### In_Class Example

In [3]:
import pandas as pd
import numpy as np

# 1. Series from a List of Favorite Colors
colors = ['Blue', 'Green', 'Black', 'White', 'Red']
series_colors = pd.Series(colors)
print("Series from a List of Favorite Colors:")
print(series_colors)
print()

# 2. Series from a NumPy array of random numbers with a labelled index
random_numbers = np.random.rand(5)
labels = ['a', 'b', 'c', 'd', 'e']
series_random = pd.Series(random_numbers, index=labels)
print("Series from a NumPy Array with Labelled Index:")
print(series_random)
print()
# 3. Series from a dictionary mapping days of the week to hours slept
sleep_hours = {
    'Monday': 7,
    'Tuesday': 6,
    'Wednesday': 8,
    'Thursday': 5,
    'Friday': 6,
    'Saturday': 9,
    'Sunday': 8
}
series_sleep = pd.Series(sleep_hours)
print("Series from a Dictionary of Sleep Hours:")
print(series_sleep)
print()

Series from a List of Favorite Colors:
0     Blue
1    Green
2    Black
3    White
4      Red
dtype: object

Series from a NumPy Array with Labelled Index:
a    0.068436
b    0.826843
c    0.392969
d    0.260686
e    0.480228
dtype: float64

Series from a Dictionary of Sleep Hours:
Monday       7
Tuesday      6
Wednesday    8
Thursday     5
Friday       6
Saturday     9
Sunday       8
dtype: int64

#### Example1

In [12]:
#Programming Code

import pandas as pd
import numpy as np

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
s1 = pd.Series(data)
print("Series s1:\n", s1)

# Creating a Series with a custom index
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(data, index=index)
print("\nSeries s2 with custom index:\n", s2)

# Creating a Series from a NumPy array
numpy_array = np.array([5, 6, 6, 7, 7])
s3 = pd.Series(numpy_array, index=['x', 'y', 'z', 'y', 'z'])
print("\nSeries s3 from NumPy array:\n", s3)

# Creating a Series from a dictionary
data_dict = {'Alice': 25, 'Bob': 30, 'Charlie': 28}
s4 = pd.Series(data_dict)
print("\nSeries s4 from dictionary:\n", s4)

Series s1:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Series s2 with custom index:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

Series s3 from NumPy array:
 x    5
y    6
z    6
y    7
z    7
dtype: int32

Series s4 from dictionary:
 Alice      25
Bob        30
Charlie    28
dtype: int64

#### Example2

In [15]:
import pandas as pd
import numpy as np

# Step 1: Create the NumPy array
np_array = np.random.randint(0, 10, size=(3, 3))

# Step 2: Convert to DataFrame
df = pd.DataFrame(
    np_array,
    index=['Row1', 'Row2', 'Row3'],
    columns=['A', 'B', 'C']
)

print(df)

      A  B  C
Row1  2  4  1
Row2  1  6  1
Row3  8  9  0

#### Example3

In [19]:
import pandas as pd
import numpy as np

# Creating A DataFrame From a Dictionary of Lists
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df1 = pd.DataFrame(data)
print("\nDataFrame df1:\n", df1)

# Creating A DataFrame From a List of Dictionaries
data_list = [{'name': 'Eve', 'Age': 22, 'City': 'Sydney'},
             {'name': 'Frank', 'Age': 40, 'City': 'Berlin'}]
df2 = pd.DataFrame(data_list)
print("\nDataFrame df2:\n", df2)

# Creating A DataFrame From a Dictionary of Series
data_series = {'One': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
               'Two': pd.Series([4, 5], index=['a', 'b'])}
df3 = pd.DataFrame(data_series)
print("\nDataFrame df3:\n", df3)

DataFrame df1:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
3    David   35     Tokyo

DataFrame df2:
     name  Age    City
0    Eve   22  Sydney
1  Frank   40  Berlin

DataFrame df3:
    One  Two
a    1  4.0
b    2  5.0
c    3  NaN

#### In_Class exercise2

In [22]:
import pandas as pd
import numpy as np

# Creating A DataFrame From a Dictionary of Lists
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df1 = pd.DataFrame(data)
print("\nDataFrame df1:\n", df1)

# Creating A DataFrame From a List of Dictionaries
data_list = [{'name': 'Eve', 'Age': 22, 'City': 'Sydney'},
             {'name': 'Frank', 'Age': 40, 'City': 'Berlin'}]
df2 = pd.DataFrame(data_list)
print("\nDataFrame df2:\n", df2)

# Creating A DataFrame From a Dictionary of Series
data_series = {'One': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
               'Two': pd.Series([4, 5], index=['a', 'b'])}
df3 = pd.DataFrame(data_series)
print("\nDataFrame df3:\n", df3)

DataFrame df1:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
3    David   35     Tokyo

DataFrame df2:
     name  Age    City
0    Eve   22  Sydney
1  Frank   40  Berlin

DataFrame df3:
    One  Two
a    1  4.0
b    2  5.0
c    3  NaN

#### Example4

In [25]:
import pandas as pd
import numpy as np

s = pd.Series(range(3), index=['a', 'b', 'c'])
index = s.index
print("Index of Series s:", index)
print("Index type:", type(index))
print("Index as a list:", index.tolist())
print("'b' is in the index?", 'b' in index)

df = pd.DataFrame(np.arange(9).reshape((3, 3)),
                  index=['Ohio', 'Colorado', 'Utah'],
                  columns=['one', 'two', 'three'])

columns_index = df.columns
row_index = df.index
print("\nDataFrame columns index:", columns_index)
print("DataFrame row index:", row_index)

Index of Series s: Index(['a', 'b', 'c'], dtype='object')
Index type: <class 'pandas.core.indexes.base.Index'>
Index as a list: ['a', 'b', 'c']
'b' is in the index? True

DataFrame columns index: Index(['one', 'two', 'three'], dtype='object')
DataFrame row index: Index(['Ohio', 'Colorado', 'Utah'], dtype='object')

#### Example5

In [28]:
import pandas as pd

# Reindexing a Series
s = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print("Original Series s:\n", s)

s2 = s.reindex(['a', 'b', 'c', 'd', 'e'])
print("\nReindexed Series s2:\n", s2)

s3 = s.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)
print("\nReindexed Series s3 with fill value:\n", s3)

# Reindexing

Original Series s:
 d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Reindexed Series s2:
 a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

Reindexed Series s3 with fill value:
 a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

#### Example5

In [31]:
import pandas as pd

df2 = df.reindex(['a', 'b', 'c', 'd'])
print("\nReindexed DataFrame df2:\n", df2)

states = ['Texas', 'Utah', 'Colorado']
df3 = df.reindex(columns=states, fill_value=0)
print("\nReindexed DataFrame df3 with new columns:\n", df3)

Reindexed DataFrame df2:
    one  two  three
a  NaN  NaN    NaN
b  NaN  NaN    NaN
c  NaN  NaN    NaN
d  NaN  NaN    NaN

Reindexed DataFrame df3 with new columns:
           Texas  Utah  Colorado
Ohio          0     0         0
Colorado      0     0         0
Utah          0     0         0

#### In_Class Exercise

In [36]:
import pandas as pd
import numpy as np

# Step 1: Construct a DataFrame from a NumPy array
student_data = np.array([
    ['Alice Johnson', 'Physics', 3.8],
    ['Benjamin Lee', 'Mathematics', 3.5],
    ['Clara Smith', 'Biology', 3.7],
    ['David Brown', 'Computer Science', 3.9],
    ['Ella Davis', 'Chemistry', 3.4],
    ['Frank Wilson', 'History', 3.2],
    ['Grace Miller', 'Economics', 3.6],
    ['Henry Clark', 'Philosophy', 3.1],
    ['Isabella Lewis', 'Political Science', 3.7],
    ['Jack Robinson', 'Engineering', 3.8]
])

# Creating the DataFrame
students_df = pd.DataFrame(student_data, columns=['Name', 'Major', 'GPA'])

# Step 2: Reindex the rows to include a new student
new_index = list(students_df.index) + [10]  # Original indices 0-9, add 10
students_df = students_df.reindex(new_index, fill_value='N/A')

# Step 3: Reindex the columns to include 'Grade' and fill missing values with 0
students_df = students_df.reindex(columns=['Name', 'Major', 'GPA', 'Grade'], fill_value=0)

# Step 4: Printing the modified DataFrame
print("Modified Students DataFrame with Reindexed Rows and Columns:")
print(students_df)

Modified Students DataFrame with Reindexed Rows and Columns:
              Name              Major  GPA  Grade
0    Alice Johnson            Physics  3.8      0
1     Benjamin Lee        Mathematics  3.5      0
2      Clara Smith            Biology  3.7      0
3      David Brown   Computer Science  3.9      0
4       Ella Davis          Chemistry  3.4      0
5     Frank Wilson            History  3.2      0
6     Grace Miller          Economics  3.6      0
7      Henry Clark         Philosophy  3.1      0
8   Isabella Lewis  Political Science  3.7      0
9    Jack Robinson        Engineering  3.8      0
10             N/A                N/A  N/A      0

#### Example6

In [39]:
import pandas as pd
import numpy as np

# Dropping from a Series
s = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
print("Original Series s:\n", s)

s_dropped = s.drop(['c', 'd'])
print("\nSeries after dropping 'c' and 'd':\n", s_dropped)

# Dropping from a DataFrame
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
print("\nOriginal DataFrame df:\n", df)

df_dropped_rows = df.drop(['Colorado', 'Ohio'])
print("\nDataFrame after dropping rows 'Colorado' and 'Ohio':\n", df_dropped_rows)

# Dropping columns from a DataFrame
df_dropped_cols = df.drop('two', axis=1)
print("\nDataFrame after dropping column 'two':\n", df_dropped_cols)

df_dropped_multiple_cols = df.drop(['two', 'four'], axis='columns')
print("\nDataFrame after dropping columns 'two' and 'four':\n", df_dropped_multiple_cols)

Original Series s:
 a    0
b    1
c    2
d    3
e    4
dtype: int32

Series after dropping 'c' and 'd':
 a    0
b    1
e    4
dtype: int32

Original DataFrame df:
           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

DataFrame after dropping rows 'Colorado' and 'Ohio':
           one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

DataFrame after dropping column 'two':
           one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

DataFrame after dropping columns 'two' and 'four':
           one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

#### Example7

In [42]:
import pandas as pd
import numpy as np

s = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
print("Series s:\n", s)

print("\ns['b']:\n", s['b'])
print("\ns['a':'c']:\n", s['a':'c'])
print("\ns[['b', 'd']]:\n", s[['b', 'd']])
print("\ns[s > 1]:\n", s[s > 1])

df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
print("\nDataFrame df:\n", df)

print("\ndf['two']:\n", df['two'])
print("\ndf[['three', 'one']]:\n", df[['three', 'one']])

print("\ndf[2:4]:\n", df[2:4])

print("\ndf[df['three'] > 5]:\n", df[df['three'] > 5])

print("\ndf.loc['Colorado', ['two', 'three']]:\n", df.loc['Colorado', ['two', 'three']])

print("\ndf.iloc[2, [3, 0, 1]]:\n", df.iloc[2, [3, 0, 1]])

Series s:
 a    0
b    1
c    2
d    3
dtype: int32

s['b']:
 1

s['a':'c']:
 a    0
b    1
c    2
dtype: int32

s[['b', 'd']]:
 b    1
d    3
dtype: int32

s[s > 1]:
 c    2
d    3
dtype: int32

DataFrame df:
           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

df['two']:
 Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

df[['three', 'one']]:
           three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

df[2:4]:
           one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

df[df['three'] > 5]:
           one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

df.loc['Colorado', ['two', 'three']]:
 two      5
three    6
Name: Colorado, dtype: int32

df.iloc[2, [3, 0, 1]]:
 four    11
one      8
two      9
Name: Utah, dtype: int32

#### Example8

In [45]:
import pandas as pd
import numpy as np

s1 = pd.Series([0, 1, 2], index=['a', 'b', 'c'])
s2 = pd.Series([2, 3, 4, 5], index=['a', 'c', 'e', 'f'])
print("Series s1:\n", s1)
print("\nSeries s2:\n", s2)

print("\ns1 + s2:\n", s1 + s2)

df1 = pd.DataFrame(np.arange(9).reshape((3, 3)),
                   columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12).reshape((4, 3)),
                   columns=list('bcd'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print("\nDataFrame df1:\n", df1)
print("\nDataFrame df2:\n", df2)

print("\ndf1 + df2:\n", df1 + df2)

Series s1:
 a    0
b    1
c    2
dtype: int64

Series s2:
 a    2
c    3
e    4
f    5
dtype: int64

s1 + s2:
 a    2.0
b    NaN
c    5.0
e    NaN
f    NaN
dtype: float64

DataFrame df1:
           b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8

DataFrame df2:
         b   c   d
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

df1 + df2:
             b     c     d
Colorado  NaN   NaN   NaN
Ohio      3.0   5.0   7.0
Oregon    NaN   NaN   NaN
Texas     9.0  11.0  13.0
Utah      NaN   NaN   NaN

#### Example9

In [48]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame(np.random.randn(4, 3), columns=list('bcd'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

# Define formatting function
f = lambda x: '%.2f' % x

# Element-wise function application
print("\nElement-wise function:\n", df.applymap(f))

# Define a simple function
def times_two(x):
    return x * 2

# Apply function to a Series
print("\nApplying to a Series:\n", df['b'].map(times_two))

# Apply function to columns (sum across rows)
print("\nApplying to columns (sum across rows):\n", df.apply(np.sum, axis=0))

# Apply function to rows (min across columns)
print("\nApplying to rows (min across columns):\n", df.apply(np.min, axis=1))

Element-wise function:
             b      c      d
Utah     0.83  -0.99  -0.02
Ohio     0.80   0.95   0.88
Texas    1.17  -0.13   0.40
Oregon  -0.79  -0.35   1.05

Applying to a Series:
 Utah      1.669072
Ohio      1.607499
Texas     2.344342
Oregon   -1.576885
Name: b, dtype: float64

Applying to columns (sum across rows):
 b    2.022014
c   -0.517105
d    2.315669
dtype: float64

Applying to rows (min across columns):
 Utah     -0.992899
Ohio      0.803750
Texas    -0.125620
Oregon   -0.788442
dtype: float64

C:\Users\NuR\AppData\Local\Temp\ipykernel_21308\2019915738.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print("\nElement-wise function:\n", df.applymap(f))

#### Example10

In [51]:
import pandas as pd
import numpy as np

# Sorting a Series
x = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print("Original Series x:\n", x)

print("\nSorted Series by index:\n", x.sort_index())
print("\nSorted Series by values:\n", x.sort_values())

# Sorting a DataFrame
df = pd.DataFrame(np.random.randn(4, 3),
                  index=['three', 'one', 'two', 'four'],
                  columns=['b', 'a', 'c'])
print("\nOriginal DataFrame df:\n", df)

print("\nSorted DataFrame by index:\n", df.sort_index())
print("\nSorted DataFrame by column 'a':\n", df.sort_values(by='a'))

# Ranking
x2 = pd.Series([7.5, -2.5, 7.5, 4.2, 0.4])
print("\nOriginal Series for Ranking x2:\n", x2)

print("\nRanked Series (default method='average'):\n", x2.rank())
print("\nRanked Series (method='first'):\n", x2.rank(method='first'))

Original Series x:
 d    0
a    1
b    2
c    3
dtype: int64

Sorted Series by index:
 a    1
b    2
c    3
d    0
dtype: int64

Sorted Series by values:
 d    0
a    1
b    2
c    3
dtype: int64

Original DataFrame df:
               b         a         c
three -0.856024  0.552039  0.392615
one    0.302825 -0.450783  0.215551
two   -0.080179 -0.669288  0.659692
four   1.337838  0.744462  0.795975

Sorted DataFrame by index:
               b         a         c
four   1.337838  0.744462  0.795975
one    0.302825 -0.450783  0.215551
three -0.856024  0.552039  0.392615
two   -0.080179 -0.669288  0.659692

Sorted DataFrame by column 'a':
               b         a         c
two   -0.080179 -0.669288  0.659692
one    0.302825 -0.450783  0.215551
three -0.856024  0.552039  0.392615
four   1.337838  0.744462  0.795975

Original Series for Ranking x2:
 0    7.5
1   -2.5
2    7.5
3    4.2
4    0.4
dtype: float64

Ranked Series (default method='average'):
 0    4.5
1    1.0
2    4.5
3    3.0
4    2.0
dtype: float64

Ranked Series (method='first'):
 0    4.0
1    1.0
2    5.0
3    3.0
4    2.0
dtype: float64

#### Example11

In [54]:
import pandas as pd
import numpy as np

# Create a Series with duplicate indexes
s = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'b'])
print("\nSeries with duplicate indexes:\n", s)

# Create a DataFrame with duplicate indexes
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'b', 'a', 'c'])
print("\nDataFrame with duplicate indexes:\n", df)

# Accessing entries with label 'b'
print("\nAccessing label 'b' in Series:\n", s['b'])

# Checking if the index is unique
print("\nIs the Series index unique?", s.index.is_unique)

# Accessing rows with label 'a' in DataFrame
print("\nAccessing rows with label 'a' in DataFrame:\n", df.loc['a'])

Series with duplicate indexes:
 a    0
b    1
c    2
d    3
b    4
dtype: int64

DataFrame with duplicate indexes:
           0         1         2
a  1.056736  0.306074  1.141378
b  0.411513  0.474862 -1.255064
a  0.832586 -1.116409 -0.516256
c  0.187745  1.030098  0.655571

Accessing label 'b' in Series:
 b    1
b    4
dtype: int64

Is the Series index unique? False

Accessing rows with label 'a' in DataFrame:
           0         1         2
a  1.056736  0.306074  1.141378
a  0.832586 -1.116409 -0.516256

#### Example12

In [57]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values (np.nan)
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

print("\nOriginal DataFrame:\n", df)

# Sum of columns (ignores NaN by default)
print("\nSum of columns:\n", df.sum())

# Mean of columns (ignores NaN by default)
print("\nMean of columns:\n", df.mean())

# Descriptive statistics summary
print("\nDescriptive statistics:\n", df.describe())

Original DataFrame:
     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

Sum of columns:
 one    9.25
two   -5.80
dtype: float64

Mean of columns:
 one    3.083333
two   -2.900000
dtype: float64

Descriptive statistics:
             one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

#### Example13

In [60]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.DataFrame([[1.4, -0.3], [7.1, -0.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  columns=['one', 'two'])

print("\nOriginal DataFrame:\n", df)

# Correlation matrix (Pearson correlation by default)
print("\nCorrelation matrix:\n", df.corr())

# Covariance matrix
print("\nCovariance matrix:\n", df.cov())

# Correlation between specific columns
print("\nCorrelation between 'one' and 'two':\n", df['one'].corr(df['two']))

Original DataFrame:
     one  two
0  1.40 -0.3
1  7.10 -0.5
2   NaN  NaN
3  0.75 -1.3

Correlation matrix:
           one       two
one  1.000000  0.413808
two  0.413808  1.000000

Covariance matrix:
            one    two
one  12.205833  0.765
two   0.765000  0.280

Correlation between 'one' and 'two':
 0.413807827783985

#### Example14

In [63]:
import pandas as pd

# Create a Series
s = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

print("\nOriginal Series:\n", s)

# Find unique values
print("\nUnique values:\n", s.unique())

# Count occurrences of each value
print("\nValue counts:\n", s.value_counts())

# Check membership for values 'b' and 'c'
print("\nIs each value in ['b', 'c']?\n", s.isin(['b', 'c']))

Original Series:
 0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

Unique values:
 ['c' 'a' 'd' 'b']

Value counts:
 c    3
a    3
b    2
d    1
Name: count, dtype: int64

Is each value in ['b', 'c']?
 0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool