### Example1 
#### Filtering	Out	Missing	Data:
### Programing Code

In [1]:
import pandas as pd
from numpy import nan as NA

# Modified values
data = pd.Series([10, NA, 5.5, NA, 12.3, 8])

# Drop missing values
print(data.dropna())

0    10.0
2     5.5
4    12.3
5     8.0
dtype: float64

### Example2
#### Dropping	Out	Missing	Data:
### Programing Code

In [5]:
import pandas as pd
from numpy import nan as NA

# Modified values
data_df = pd.DataFrame([
    [2, 4.5, 6.1],
    [NA, 7.2, NA],
    [9.0, NA, NA],
    [3.3, 4.4, 5.5]
])

# Drop rows with any missing values
cleaned = data_df.dropna()

# Display the cleaned DataFrame
print(cleaned)

     0    1    2
0  2.0  4.5  6.1
3  3.3  4.4  5.5

### Example3 
#### Filling in	Missing	Data:
### Programing Code

In [8]:
import pandas as pd
from numpy import nan as NA

# Updated values with some missing entries
df = pd.DataFrame([
    [5.0, 2.1, NA],
    [NA, NA, 7.0],
    [8.8, NA, NA],
    [NA, 6.6, 9.9]
])

# Fill missing values with 0
filled_df = df.fillna(0)

# Display the filled DataFrame
print(filled_df)

     0    1    2
0  5.0  2.1  0.0
1  0.0  0.0  7.0
2  8.8  0.0  0.0
3  0.0  6.6  9.9

### Example4
#### Filling	with	Different	Values	per	Column
### Programing Code

In [12]:
import pandas as pd
from numpy import nan as NA

# Create DataFrame with missing values
df = pd.DataFrame([
    [10, 3.5, NA],
    [NA, NA, NA],
    [NA, 4.0, NA],
    [5.5, NA, 2.2]
])

# Fill missing values with specific values per column
# Fill: column 0 → 99, column 1 → 1.1, column 2 → -9.9
filled_df = df.fillna({0: 99, 1: 1.1, 2: -9.9})

# Display result
print(filled_df)

      0    1    2
0  10.0  3.5 -9.9
1  99.0  1.1 -9.9
2  99.0  4.0 -9.9
3   5.5  1.1  2.2

### Example5 
#### Forward and Backward:
### Programing Code

In [15]:
import pandas as pd
import numpy as np

# Create a Series with new values and missing entries
data = pd.Series([5, np.nan, 8, np.nan, 10])

# Apply forward fill
forward_fill = data.ffill()

# Apply backward fill
backward_fill = data.bfill()

# Combine into a DataFrame for display
df_result = pd.DataFrame({
    'Original': data,
    'FFill': forward_fill,
    'BFill': backward_fill
})

print(df_result)

   Original  FFill  BFill
0       5.0    5.0    5.0
1       NaN    5.0    8.0
2       8.0    8.0    8.0
3       NaN    8.0   10.0
4      10.0   10.0   10.0

### Example6
#### limit Argument in fillna():
### Programing Code

In [18]:
import pandas as pd
from numpy import nan as NA

# New Series with missing values
s = pd.Series([7, NA, NA, NA, 12])

# Fill only the first 2 NaNs with -1
filled_s = s.fillna(-1, limit=2)

print(filled_s)

0     7.0
1    -1.0
2    -1.0
3     NaN
4    12.0
dtype: float64

### Example7
#### Stage1:Understanding the Code:
### Programing Code

In [21]:
import pandas as pd

# Updated DataFrame with new values
data = pd.DataFrame({
    'k1': ['apple', 'banana'] * 3 + ['apple'],
    'k2': [10, 20, 15, 25, 30, 35, 40]
})

# Display the DataFrame
print("Modified Original Data:")
print(data)

Modified Original Data:
       k1  k2
0   apple  10
1  banana  20
2   apple  15
3  banana  25
4   apple  30
5  banana  35
6   apple  40

#### Stage2:Applying duplicated():	
### Programing Code

In [35]:
import pandas as pd
# Reuse the modified DataFrame
data = pd.DataFrame({
    'k1': ['apple', 'banana', 'apple', 'banana', 'apple', 'banana', 'apple'],
    'k2': [10, 20, 15, 25, 30, 35, 10]  # last row is a duplicate of the first row
})
# Check for full-row duplicates
print("\nDuplicated Rows (Default - All Columns):")
print(data.duplicated())

Duplicated Rows (Default - All Columns):
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [31]:
import pandas as pd
#Sample DataFrame (with duplicates)
data = pd.DataFrame({
    'k1': ['apple', 'banana', 'apple', 'banana', 'apple', 'banana', 'apple'],
    'k2': [10, 20, 15, 25, 30, 35, 10]  # row 6 duplicates row 0
})
#Show Only Duplicated Rows (Excludes First Occurrence)
print("\nRows That are Duplicated:")
print(data[data.duplicated()])
#Show All Duplicate Rows (Including First Occurrence)
print("\nAll Duplicate Entries (Including First Occurrence):")
print(data[data.duplicated(keep=False)])

Rows That are Duplicated:
      k1  k2
6  apple  10

All Duplicate Entries (Including First Occurrence):
      k1  k2
0  apple  10
6  apple  10

#### Stage3:Enhancing & Debugging for Clarity:
### Programing Code

In [29]:
import pandas as pd
# Sample DataFrame (with duplicates)
data = pd.DataFrame({
    'k1': ['apple', 'banana', 'apple', 'banana', 'apple', 'banana', 'apple'],
    'k2': [10, 20, 15, 25, 30, 35, 10]  # row 6 duplicates row 0
})
# Show Only Duplicated Rows (Excludes First Occurrence)
print("\nRows That are Duplicated:")
print(data[data.duplicated()])
# Show All Duplicate Rows (Including First Occurrence)
print("\nAll Duplicate Entries (Including First Occurrence):")
print(data[data.duplicated(keep=False)])

Rows That are Duplicated:
      k1  k2
6  apple  10

All Duplicate Entries (Including First Occurrence):
      k1  k2
0  apple  10
6  apple  10